.signin {
  display: inline-block;
  /* border: "1px solid white", */
  color: white;
  margin-left: auto;
  margin-right: 16px;
  font-size: 24px;
  font-weight: 400;
  /* border: "1px solid red", */
  background: transparent;
  border: None;
}
.signin:hover,
.home:hover {
  cursor: pointer;
}
.home {
  display: inline-block;
  /* border: "1px solid white", */
  margin-left: 16px;
  color: white;
  font-size: 24px;
  font-weight: 400;
  font-family: roboto;
  /* border: "1px solid red", */
}
.navbar_menu {
  /* height: "100%", */
  width: 70%;
  /* border: "1px solid red", */
}
.hamburger {
  /* border: "1px solid red", */
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

@media only screen and (max-width: 620px) {
  .navbar_menu {
    /* height: "100%", */
    width: 70%;
    /* border: "1px solid red", */
    display: none;
  }
  .hamburger {
    /* border: "1px solid red", */
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
